body{
  background: #000;
  color: #fff;
  font-size: 16px;
  margin: 0 auto;
  padding: 0px;
}

.App{
  text-align: center;
  padding: 5%;
}

.App-header{
  border: 5px double #fff;
  border-radius: 2%;
  padding: 2%;
}

.App-title{
  font-size: 2em;
  margin-bottom: 20px;
}

